<h1>{{title}}</h1>
<p>Welcome {{this.username}}</p>

<ul>
<<<<<<< HEAD
    {{#each users}}
    <li>User: {{ this.username}}</li>
    {{/each}}
=======
{{#each users}}
<li>User: {{ this.username}}</li>
{{/each}}
>>>>>>> ba1af9504f9b9b41999d6bdabfaa757d2d6ba153
</ul>