<!DOCTYPE html>
<html>

<head>
  <title>WHAT THE FRIDGE!</title>
  <link rel="shortcut icon"
    type="image/png"
    href="/images/Pngtrevectorfridgeicon_4051836.png" />
  <link rel="preconnect"
    href="https://fonts.googleapis.com">
  <link rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
    rel="stylesheet">
  <link defer
    rel='stylesheet'
    href='/stylesheets/style.css' />
  <link defer
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <script defer
    src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  {{!-- {{#if loggedIn}}
  {{>navBar}}
  {{else}}
  {{navBar-guest}}
  {{/if}} --}}

  {{{body}}}
</body>

</html>