<!DOCTYPE html>
<html>

<head>
  <title>WHAT THE FRIDGE!</title>
  <link rel="shortcut icon" type="image/png" href="/images/Pngtrevectorfridgeicon_4051836.png"/>
  <link rel='stylesheet'
    href='/stylesheets/style.css' />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

</head>

<body>
  {{{body}}}
</body>

</html>