body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(240, 232, 209);
  min-height: 100vh;
}

a {
  color: #00B7FF;
}

.form-save {
  display: inline-flex;
}

.fridge {
  border: 1px solid black;
  height: 400px;
 display: flex;
 flex-wrap: wrap;
}

#saved-recipes-text {
  border-bottom: 1px solid white;
}

div.bottom {
  background-color: black;
  width: 100%;
  padding: 2em;
}

.recipe-view {
  min-height: 100vh;
  margin: 0 0 20px 0;
}

.fridge-img {
  background-image: url('../images/—Pngtree—vector\ fridge\ icon_4051836.png');
}

.form-center-screen {
  /* border: 1px solid black; */

  margin-top: 12em;

}

#my-form-center {
  border: 1px solid black;
  padding: 2em 3em;
  border-radius: .5em;
  background-color: black;
  font-size: 2em;
}
