body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(240, 232, 209);
  height: 100vh;
}

a {
  color: #00B7FF;
}

.fridge {
  border: 1px solid black;
  height: 400px;
 display: flex;
 flex-wrap: wrap;
}

#saved-recipes-text {
  border-bottom: 1px solid white;
}
