<h2>Edit user</h2>


<form action="profile"
    method="POST">


    <label for=''>Username</label>
    <input type='text'
        name='username'
        value="{{username}}">

    <br>


    <label for=''>Password</label>
    <input type='password'
        name='password'>
    <br>
    <button type='submit'>Edit user</button>

</form>