<div class="my-navbar">
  <div class="my-nav-items">
    <div class="my-logo-container">
      <img class="my-logo"
        src="/images/Electronic_Devices__506_-removebg-preview.png"
        alt="">
         <span class="my-logout-link">WTF</span>
    </div>
    <ul>
      <li class="my-is-active"><a id="edit-profile-active" href="/private/profile">Account</a></li>
      <li><a class="my-a-white" href="/private/profile">Recipes</a></li>
      <li><a class="my-a-white" href="/private/fridge">Fridge</a></li>
      <li><a class="my-a-white" href="/search/ingredients">Search</a></li>
      <li>
        <div class="my-dropdown">
          <div class="menu-icon-div">
          <span id="profile-menu" style="color: white;" class="my-dropbtn fas fa-align-justify"></span>
          </div>
        <div class="dropdown-content">
          <a  href="/auth/logout">Logout</a>
        <a href="/private/edit-profile">View Account</a>
        <a class="my-a-white" href="/search/ingredients">Search</a>
        <a class="my-a-white" href="/private/fridge">Fridge</a>
        <a class="my-a-white" href="/private/profile">Recipes</a>
        </div>
      </div>
      </li>
    </ul>

  </div>
</div>

<h2>Edit user</h2>


<form action="/private/profile"
    method="POST">


    <label for=''>Username</label>
    <input type='text'
        name='username'
        value="{{username}}">

    <br>
    <label for=''>Password</label>
    <input type='password'
        name='password'>
    <br>
    <button type='submit'>Edit user</button>
</form>

<form action="/private/edit/delete"
    method="POST">
    <button type="submit">Delete Account</button>
</form>