<nav class="navbar has-background-black py-3" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://pngtree.com/so/Vector">
      <img src="/images/Pngtrevectorfridgeicon_4051836.png" width="30" height="30">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item has-text-white" href="/private/profile">
        Profile
      </a>

      <a class="navbar-item is-tab is-active has-text-white" href="/private/fridge">
        Fridge
      </a>
      <a class="navbar-item  has-text-white" href="/private/fridge">
        Search
      </a>
    </div>

    <div class="navbar-end">
        <a class="navbar-item has-text-white" href="/auth/logout">
      Logout
    </a>
      <div class="navbar-item">
         <button class="button is-primary">
    <span class="icon">
      <i class="fab fa-twitter"></i>
    </span>
    <span>User {{user.username}}</span>
  </button>
      </div>
    </div>
  </div>
</nav>

<br>
<form action="/private/fridge/add"
    method="POST">
    <label for="ingredients">Ingredients</label>
    <input type="text"
        name="ingredients">
    <button type="submit">Search</button>
</form>

<div class="fridge">
    <ul>
        {{#each ingredients}}
        <li>
            {{this}}
        </li>
        {{/each }}
    </ul>
</div>