<h1>Fridge</h1>
<br>
<form action="/private/fridge/add"
    method="POST">
    <label for="ingredient">Ingredients</label>
    <input type="text"
        name="ingredient">
    <button type="submit">Search</button>
</form>

<div class="fridge">
    <ul>
        <form action="/private/fridge/remove">
            {{#each ingredients}}
            <li>
                {{this}} <button type="submit">remove</button>
            </li>
            {{/each}}
        </form>
    </ul>
</div>