
<div class="my-navbar">
    <div class="my-nav-items">
    <img class="my-logo" src="/images/—Pngtree—vector fridge icon_4237845.png" alt="">
    <ul>

   <li><a href="/auth/signup">Sign-up</a></li>
    </ul>
    </div>
</div>

{{!-- LOGIN CONTAINER--}}
<div class="my-login-container">

{{!-- FRIDGE IMAGE --}}
<div class="my-fridge-container">
    <img class="my-fridge-login-img" src="/images/—Pngtree—refrigerator_574843.png" alt="">
</div>

{{!-- LOGIN FORM --}}
<div class="form-center-screen">
<div id="my-form-center" class="column is-one-third is-offset-one-third">
<form action="/auth/login" method="POST">
<div class="field">
     <label class="lable is-large has-text-black">Username</label>
  <p class="control has-icons-left has-icons-right">
    <input class="input is-large is-success" type="text" placeholder="Username" name="username">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
     <label class="lable is-large has-text-black">Password</label>
  <p class="control has-icons-left">
    <input class="input is-large is-success" type="password" placeholder="Password" name="password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field is-centered">
  <p class="control is-centered">
    <button id="my-login-button" class="button is-primary is-large" type="submit">
      Login
    </button>
  </p>
</div>
</form>
</div>
<div>
</div>



{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}