<nav class="navbar has-background-black py-4"
    role="navigation"
    aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item"
            href="https://pngtree.com/so/Vector">
            <img  src="/images/Pngtrevectorfridgeicon_4051836.png">
        </a>
        <a role="button"
            class="navbar-burger"
            aria-label="menu"
            {{!-- aria-expanded="false" --}}
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
         <button class="button is-primary">
    <span>Sign-up</span>
  </button>
      </div>
    </div>
  </div>
</nav>


{{!-- <form action="/auth/login"method="POST">
    <div class="field">
        <div class="control has-icons has-icons-right">
             <input class="input" type="text" name="username"minlength="3"maxlength="10" placeholder="Username" required>
             <span class="icon is-small is-left">
             <i class="fas fa-user"></i>
            </span>
         <div>
    <div>
    <div class="field">
     <div class="control has-icons-left"> 
        <input class="input" type="password"
        name="password"
        id="password"
        placeholder="Password"
        required>
        <span class="icon is-small is-left">
         <i class="fas fa-lock"></i>
        </span>
    </div>  
   </div>
    <button class="button is-success" type="submit">Submit</button>
</form> --}}
<div class="form-center-screen">
<div id="my-form-center" class="column  is-one-third is-offset-one-third">
<form action="/auth/login" method="POST">
<div class="field">
     <label id="my-lable-username" class="lable is-large has-text-white">Username</label>
  <p class="control has-icons-left has-icons-right">
    <input class="input is-large" type="text" placeholder="Username" name="username">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
     <label id="my-lable-password" class="lable is-large has-text-white">Password</label>
  <p class="control has-icons-left">
    <input class="input is-large" type="password" placeholder="Password" name="password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field is-centered">
  <p class="control is-centered">
    <button class="button is-primary is-large" type="submit">
      Login
    </button>
  </p>
</div>
</form>
</div>
<div>



{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}