<div class="my-navbar">
  <div class="my-nav-items">
    <div class="my-logo-container">
      <img class="my-logo"
        src="/images/Electronic_Devices__506_-removebg-preview.png"
        alt="">
      <a class="my-logout-link"
        href="/auth/logout">Logout</a>
    </div>

    <ul>
      <li class="my-is-active"><a class="my-a-white"
          href="/private/profile">Recipes</a></li>
      <li><a href="/private/fridge">Fridge</a></li>
      <li><a href="/search/ingredients">Search</a></li>
    </ul>

  </div>
</div>


<h1 class="is-family-primary has-text-centered is-size-1">Found recipes!</h1>
<br>
<ul>
    <div class="columns is-multiline is-centered ">
        {{#each recipes}}
        <div class="column is-one-quarter mx-1">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{this.image}}"
                            alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content has-background-black">
                    {{!-- remove ingredient / later --}}
                    <form class="form-save" action="/search/fridge/recipe/save" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button class="button is-link" type="submit">
                        Save
                    </button>
                    </form>
                    <span class="ml-2">
                        <span class="title is-4 has-text-white ">{{this.title}}</span>
                    </span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</ul>

