<h1>Search Recipes</h1>
<br>
<a href="/private/profile">My Fridge</a>

<form action="/search/ingredients" method="POST">

<label for="ingredients">Ingredients</label>
<input type="text" name="ingredients">

{{!-- <label for="searchBy"></label>
<select name="searchBy" id="searchBy">
  <option name="" disabled selected>Search by...</option>
  <option name="ingredient">Ingredients</option>
  <option name="name">Receipe name</option>
</select> --}}

<button type="submit">Search</button>
</form>