<div class="my-navbar">
  <div class="my-nav-items">
    <div class="my-logo-container">
      <img class="my-logo"
        src="/images/Electronic_Devices__506_-removebg-preview.png"
        alt="">
      <a class="my-logout-link"
        href="/auth/logout">Logout</a>
    </div>

    <ul>
    <li id="my-a-white" class="my-is-active my-a-white">Search</li>
      <li><a href="/private/profile">Recipes</a></li>
      <li><a href="/private/fridge">Fridge</a></li>
    </ul>
  </div>
</div>

{{!-- SEARCH FORM --}}


<h2 id="search-heading">What The Fridge!</h2>
<div id="background-img">
</div>
<div id="search-bar-container"
  class="wrap">

  <form action="/search/ingredients"
    method="POST">


    <div class="search">
      <input type="text"
        class="searchTerm"
        name="ingredients"
        placeholder="What are you looking for?">
      <button type="submit"
        class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>

  </form>
</div>


{{!-- <form action="/search/ingredients"
  method="POST">
  <label class="label"
    for="ingredients">Ingredients</label>
  <div class="control">
    <input class="input is-primary"
      type="text"
      name="ingredients">
  </div>

  <div class="control">
    <button class="button is-primary"
      type="submit">Search</button>
  </div>
</form>
</div> --}}