<div class="my-navbar">
  <div class="my-nav-items">
    <div class="my-logo-container">
      <img class="my-logo"
        src="/images/—Pngtree—vector fridge icon_4237845.png"
        alt="">
      <a class="my-logout-link"
        href="/auth/logout">Logout</a>
    </div>

    <ul>
      <li><a href="/private/profile">Recipes</a></li>
      <li><a href="/private/fridge">Fridge</a></li>
      <li class="my-is-active"><a class="my-a-white" href="/search/ingredients">Search</a></li>
    </ul>
  </div>
</div>

{{!-- SEARCH FORM --}}


<div class="field">
  <form action="/search/ingredients"
    method="POST">
    <label class="label"
      for="ingredients">Ingredients</label>
    <div class="control">
      <input class="input is-primary"
        type="text"
        name="ingredients">
    </div>

    <div class="control">
      <button class="button is-primary"
        type="submit">Search</button>
    </div>
  </form>
</div>

{{!-- <form action="/search/ingredients"
  method="POST">
  <label class="label"
    for="ingredients">Ingredients</label>
  <div class="control">
    <input class="input is-primary"
      type="text"
      name="ingredients">
  </div>

  <div class="control">
    <button class="button is-primary"
      type="submit">Search</button>
  </div>
</form>
</div> --}}