<div class="my-navbar">
  <div class="my-nav-items">
    <div class="my-logo-container">
      <img class="my-logo"
        src="/images/Electronic_Devices__506_-removebg-preview.png"
        alt="">
      <span class="my-logout-link">WTF</span>
    </div>

    <ul>
      <li id="search-active"
        class="my-is-active">Search</li>
      <li><a class="my-a-white"
          href="/private/profile">Recipes</a></li>
      <li><a class="my-a-white"
          href="/private/fridge">Fridge</a></li>
      <li>
        <div class="my-dropdown">
          <div class="menu-icon-div">
            <span id="search-menu"
              style="color: white;"
              class="my-dropbtn fas fa-align-justify"></span>
          </div>
          <div class="dropdown-content">
            <a href="/auth/logout">Logout</a>
            <a href="/private/edit-profile">View Account</a>
            <a class="my-a-white"
              href="/private/fridge">Fridge</a>
            <a class="my-a-white"
              href="/private/profile">Recipes</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

{{!-- SEARCH FORM --}}




</div>
<div id="search-bar-container"
  class="wrap">
  <h2 id="search-heading">What The Fridge!</h2>
  <img id="fridge-backdrop"
    src="/images/fridge.png"
    alt="">

  <form id="search-form"
    action="/search/ingredients"
    method="POST">


    <div class="search">
      <input type="text"
        class="searchTerm"
        name="ingredients"
        placeholder="What are you looking for?">
      <button type="submit"
        class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
    {{!-- checkbox area --}}

    <div class="ingredient-container-wrap">
      {{!-- <div class="ingredient-container"> --}}
        <div class="container">
          <ul class="ks-cboxtags">
            {{#each user.ingredients}}
            <li> <input type="checkbox"
                id="01"
                name="ingredients"
                value="{{this}}">
              <label for="01">{{this}}</label>
            </li>
            {{/each }}
          </ul>
        </div>
      </div>
  </form>
</div>




{{!-- <div id="footer-search-page"
  class="bottom">
  <div class="content has-text-centered has-text-white">
    <p>
      <strong class="has-text-white">What The Fridge</strong>
      by
      <strong class="has-text-white">Alex Vasconcelos de Almeids</strong>
      and
      <strong class="has-text-white">Cooper Bjorkelund
      </strong>
      <br />
      With credit to
      <strong><a href="https://spoonacular.com/food-api">spoonacular API</a></strong>
    </p>
  </div>
</div> --}}