<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://pngtree.com/so/Vector">
      <img src="../public/images/—Pngtree—vector fridge icon_4051836.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/private/profile">
        Profile
      </a>

      <a class="navbar-item" href="/private/fridge">
        Fridge
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
         <button class="button is-primary">
    <span class="icon">
      <i class="fab fa-twitter"></i>
    </span>
    <span>User {{user.username}}</span>
  </button>
      </div>
    </div>
  </div>
</nav>


{{!-- SEARCH RESULTS --}}
<h1 class="is-family-primary has-text-centered is-size-1">Found recipes!</h1>
<br>
<ul>
    <div class="columns is-multiline is-centered ">
        {{#each recipes}}
        <div class="column is-one-quarter mx-1">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{this.image}}"
                            alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content has-background-black">
                    <form class="form-save" action="/search/fridge/recipe/save" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button class="button is-link" type="submit">
                        Save
                    </button>
                    </form>
                    <span class="ml-2">
                        <span class="title is-4 has-text-white ">{{this.title}}</span>
                    </span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</ul>

