<h1>Search Recipes</h1>
<br>

<form action="/search/ingredients" method="POST">

<label for="ingredients">Ingredients</label>
<input type="text" name="ingredients">

<button type="submit">Search</button>
</form>