<h1>signup page</h1>
<br>

<div class="form-center-screen">
<div id="my-form-center" class="column  is-one-third is-offset-one-third">
<form action="/auth/signup" method="POST">
<div class="field">
     <label id="my-lable-username" class="lable is-large has-text-white">Username</label>
  <p class="control has-icons-left has-icons-right">
    <input class="input is-large" type="text" placeholder="Username" name="username">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
     <label id="my-lable-email" class="lable is-large has-text-white">Email</label>
  <p class="control has-icons-left">
    <input class="input is-large" type="email" placeholder="email" name="email">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
     <label id="my-lable-password" class="lable is-large has-text-white">Password</label>
  <p class="control has-icons-left">
    <input class="input is-large" type="password" placeholder="Password" name="password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field is-centered">
  <p class="control is-centered">
    <button class="button is-primary is-large" type="submit">
      Login
    </button>
  </p>
</div>
</form>
</div>
<div>


{{!-- <form action="/auth/signup"
    method="POST">
    <label for="username">Username: </label>
    <input type="text"
        name="username"
        minlength="3"
        maxlength="10"
        required>

    <label for="email">Email:</label>
    <input type="email"
        name="email"
        id="email"
        required>

    <label for="password">Password:</label>
    <input type="password"
        name="password"
        id="password"
        required>

    <button type="submit">Submit</button>
</form> --}}

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}