<div class="my-navbar">
  <div class="my-nav-items">
    <div class="my-logo-container">
      <img class="my-logo"
        src="/images/—Pngtree—vector fridge icon_4237845.png"
        alt="">
      <a class="my-logout-link"
        href="/auth/logout">Logout</a>
    </div>

    <ul>
      <li class="my-is-active"><a class="my-a-white"
          href="/private/profile">Recipes</a></li>
      <li><a href="/private/fridge">Fridge</a></li>
      <li><a href="/search/ingredients">Search</a></li>
    </ul>

  </div>
</div>

{{!-- <div class="my-image-index">
  <img src="/images/—Pngtree—vector fridge icon_4237845.png"
    alt="">
</div> --}}

{{! SUB HEADING OF PAGE }}
<div class="columns is-centered mt-2">
  <div class="column is-narrow is-size-3">
    <span class="icon">
      <i class="fas fa-utensils"></i>
    </span>
  </div>
</div>

{{!-- <span class="icon">
  <i class="fas fa-utensils"></i>
</span> --}}

{{! DISPLAY ALL SAVED RECIPES }}
<ul class="recipe-view">
  <div class="columns is-multiline is-centered">
    {{#each user.recipes}}
    <div class="column is-one-quarter mx-1">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{this.image}}"
              alt="Placeholder image" />
          </figure>
        </div>
        <div class="card-content">
          <a class="button is-link"
            href="/private/fridge/remove/recipe/{{this._id}}">
            Remove
          </a>
          <a class="button is-link"
            href="/private/fridge/compare/recipe/{{this._id}}">
            compare
          </a>
          <span class="ml-2">
            <span class="title is-4">{{this.title}}</span>
          </span>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</ul>

{{! FOOTER }}
<div class="bottom">
  <div class="content has-text-centered has-text-white">
    <p>
      <strong class="has-text-white">What The Fridge</strong>
      by
      <strong class="has-text-white">Alex Vasconcelos de Almeids</strong>
      and
      <strong class="has-text-white">Cooper Bjorkelund
      </strong>
      <br />
      With credit to
      <strong><a href="https://spoonacular.com/food-api">spoonacular API</a></strong>
    </p>
  </div>
</div>