
<div class="my-navbar">
  <div class="my-nav-items">
    <div class="my-logo-container">
      <img class="my-logo"
        src="/images/Electronic_Devices__506_-removebg-preview.png"
        alt="">
      <a class="my-logout-link my-a-white"
        href="/auth/logout">Logout</a>
    </div>
    <ul>
      <li class="my-is-active"><a id="my-a-white" class="my-a-white" href="/private/profile">Recipes</a></li>
      <li><a class="my-a-white" href="/private/fridge">Fridge</a></li>
      <li><a class="my-a-white" href="/search/ingredients">Search</a></li>
    </ul>

  </div>
</div>

{{! SUB HEADING OF PAGE }}

<div class="my-profile-image-container">
    <img src="/images/k020-removebg-preview.png" alt="">
</div>


{{!-- <div class="columns is-centered mt-2">
  <div class="column is-narrow is-size-3">
    <span class="icon">
      <i class="fas fa-utensils"></i>
    </span>
  </div>
</div> --}}

{{! DISPLAY ALL SAVED RECIPES }}
<ul id="my-recipe-view" class="recipe-view">
  <div class="columns is-multiline is-centered">
    {{#each user.recipes}}
    <div id="card-container" class="column is-one-quarter mx-5">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{this.image}}"
              alt="Placeholder image" />
          </figure>
        </div>
        <div id="my-card-content" class="card-content">
            <span class="my-title ml-2">
            <span id="my-recipe-title" class="title is-3">{{this.title}}</span>
          </span>
            <div class="my-buttons-other">
          <button><a href="/private/fridge/remove/recipe/{{this._id}}">Remove</a></button>
          <button class="my-btn"><a href="/private/fridge/compare/recipe/{{this._id}}">compare</a></button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</ul>

{{! FOOTER }}
<div class="bottom">
  <div class="content has-text-centered has-text-white">
    <p>
      <strong class="has-text-white">What The Fridge</strong>
      by
      <strong class="has-text-white">Alex Vasconcelos de Almeids</strong>
      and
      <strong class="has-text-white">Cooper Bjorkelund
      </strong>
      <br />
      With credit to
      <strong><a href="https://spoonacular.com/food-api">spoonacular API</a></strong>
    </p>
  </div>
</div>